{% load static %}

<style>
    .quantity_style {
        position: relative;
        bottom: -7px;
    }

    .info_style {
        width: 100%;
        position: relative;
        bottom: -30px;
    }

    @media screen and (max-width: 900px) {
        .info_style {
            width: 100%;
            bottom: -10px;
        }

        .quantity_style {
            position: relative;
            bottom: -10px;
        }
    }
</style>




<div class="card" id="myProduct{{basket.id}}" style="width: 100%; margin-top: 70px; margin-bottom: -30px;">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ basket.product.image.url }}" class="img-fluid rounded-start"
                alt="{{ basket.product.title }}">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div style="display: flex; align-items: center; justify-content: space-between; clear: both;">
                    <h2 class="card-title" style="text-align: center;">{{ basket.product.title|title }}</h2>
                    <a data-bs-toggle="modal" data-bs-target="#removeModal{{basket.id}}"  class="btn btn-outline-danger">
                        <i class="fas fa-times"></i>
                    </a>
                </div>

                <hr>

                <p class="card-text" style="font-size: x-large;">Ürün Fiyatı : ${{basket.product.price }}</p>
               
                <div class="d-flex align-items-center">
                    <a href="javascript:void(0)" onclick="toggleDecrease('{{basket.id}}')" class="btn btn-outline-primary btn-lg" id="decreaseButton{{basket.id}}" {% if basket.quantity == 1 %} style="display: none;" {% endif %}>-</a>
                    <p class="card-text quantity_style mx-3" style="font-size: x-large;">Adet : <span id="quantityText{{basket.id}}">{{basket.quantity}}</span></p>
                    <a href="javascript:void(0)" onclick="toggleIncrease('{{basket.id}}')" class="btn btn-outline-primary btn-lg" id="increaseButton{{basket.id}}">+</a>
                </div>                

                <a href="" class="btn btn-outline-danger info_style" data-bs-toggle="modal"
                    data-bs-target="#exampleModal{{basket.product.id}}">Ürün
                    detayı</a>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert" id="ALERT"
		style="font-weight: bold; font-size: large; text-align: center; display: none; margin-top: 70px;">
		Sepetinizde ürün bulunmamaktadır
</div>



<div class="modal fade" id="exampleModal{{basket.product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title card-title fs-5" id="exampleModalLabel">{{ basket.product.title|title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{basket.product.content|safe}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="removeModal{{basket.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            {% if basket.product.id in favorites %}
            <div class="modal-header bg-danger">
                <h1 class="modal-title card-title fs-5" id="exampleModalLabel" style="color: white;">{{ basket.product.title|title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ürün favorilerden de kaldırılsınmı ?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" href="javascript:void(0)" onclick="toggleRemove('{{basket.id}}')" data-bs-dismiss="modal">hayır</a>
                <a type="button" class="btn btn-danger" href="javascript:void(0)" onclick="toggleRemove('{{basket.id}}'), toggleRemoveFavorite({{basket.product.id}})" data-bs-dismiss="modal" style="color: white;">evet</a>
            </div>
            {% else %}
            <div class="modal-header bg-warning">
                <h1 class="modal-title card-title fs-5" id="exampleModalLabel" style="color: black;">{{ basket.product.title|title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ürün favorilere eklensinmi ?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" href="javascript:void(0)" onclick="toggleRemove('{{basket.id}}')" data-bs-dismiss="modal">hayır</a>
                <a type="button" class="btn btn-warning" href="javascript:void(0)" onclick="toggleRemove('{{basket.id}}'), toggleFavorite(this, {{basket.product.id}}) " data-bs-dismiss="modal" style="color: black;">evet</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>



{% block js_file %}
<script>
    var element = document.getElementsByClassName("card-title");
    for (var i = 0; i < element.length; i++) {
        element[i].innerHTML = element[i].innerHTML.replace(/_/g," ");  
    }
</script>
{% endblock %}