{% load static %}

{% block css_file %}

<style>
    .style {
        width: 100%;
        height: 83%;
        margin-top: 65px;
        border: 1px solid black;
        border-radius: 50px;
    }

    .favorite_style {
        float: right;
        margin-top: -105%;
    }

    .modal_img {
        float: right;
        width: 300px;
    }

    @media screen and (max-width:920px) {
        .style {
            margin-top: 65px;
            height: 90%;
        }

        .favorite_style {
            float: right;
            margin-top: -95%;
        }

        .modal_img {
            float: right;
            width: 170px;
        }
    }
</style>

{% endblock %}

<div class="card style">
    <img src="{{ shop_model.image.url }}" class="card-img-top"
        style="border-radius: 60px; width: 68%; margin-top: 10px;">
    <div class="card-body text-center">
        <hr>
        <h3 class="card-title">{{ shop_model.title|title }}</h3>
        <div class="favorite_style">
            {% if not user.is_authenticated %}
            <a href="javascript:void(0);">
                <i style="color: gray; font-size: 35px;" class="fas fa-star h3" type="button" data-bs-target="#accountModal"
                    data-bs-toggle="modal"></i>
            </a>
            {% else %}
            <a href="javascript:void(0);">
                <i style="color: gray; font-size: 35px;" onclick="toggleFavorite(this, '{{ shop_model.id }}')"
                    class="fas fa-star {% if shop_model.id in favorite_products and user == request.user %} text-warning {% endif %}"
                    type="button"></i>
            </a>
            {% endif %}
        </div>
        <p style="font-size: larger; font-size: 22px;">Fiyat : ${{ shop_model.price }}</p>
        <div class="card-footer">
            <div class="btn-group" style="width: 100%; margin-top: 10px;">
                <a href="" class="btn btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal{{shop_model.id}}" style="font-size: large;">İncele</a>
                {% if not user.is_authenticated %}
                <a href=" javascript:void(0)" class="btn btn-outline-danger btn-lg" data-bs-target="#accountModal"
                    data-bs-toggle="modal" style="font-size: large;">Sepete Ekle</a>
                {% else %}
                {% if shop_model.id in busket_products and user == request.user %}
                <a href="javascript:void(0)" class="btn btn-outline-danger"
                    id="basketButton{{ shop_model.id }}" style="font-size: large;">Ürün Sepette</a>
                {% else %}
                <a href=" javascript:void(0)" onclick="toggleBasket('{{ shop_model.id }}')"
                    class="btn btn-outline-danger" id="basketButton{{ shop_model.id }}" style="font-size: large;">Sepete Ekle</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal{{shop_model.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">{{ shop_model.title|title }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ shop_model.image.url }}" alt="shop_model.title" class="modal_img">
                <p style="text-align: center; font-size: 20px; font-weight: bold; color: black;">
                    {{shop_model.title|title}}</p>
                <hr>
                <p>{{shop_model.content|safe}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
                <!--{% if shop_model.id in busket_products %}
                <a href="javascript:void(0)" class="btn btn-danger"
                    id="basketButtonModal{{ shop_model.id }}">Ürün Sepette</a>
                {% else %}
                <a href=" javascript:void(0)" onclick="toggleBasket({{ shop_model.id }})"
                    class="btn btn-danger" id="basketButtonModal{{ shop_model.id }}">Sepete Ekle</a>
                {% endif %}-->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: white;">UYARI</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="font-weight: bold; font-size: large;">Bu işlemi gerçekleştirebilmeniz için hesap açmanız
                    gerekli !</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <a class="btn btn-success" href="{% url 'login' %}">Giriş Yap</a>
                <a class="btn btn-primary" href="{% url 'register' %}">Kayıt Ol</a>
            </div>
        </div>
    </div>
</div>