{% load static %}

<style>
    .info_style {
        float: right;
        position: relative;
        bottom: -100px;
    }

    .add_to_basket {
        float: right;
        position: relative;
        bottom: -100px;

    }

    @media screen and (max-width: 900px) {
        .info_style {
            position: relative;
            bottom: 10px;
        }

        .add_to_basket {
            float: left;
            position: relative;
            bottom: 10px;
        }
    }
</style>

<div id="myFavorite{{favorite.product.id}}" class="card mt-3 mb-3" style="width: 100%;">
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'image/'|add:favorite.product.image %}" class="img-fluid rounded-start"
                alt="{{favorite.product.title}}">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div style="display: flex; align-items: center; justify-content: space-between; clear: both;">
                    <h2 class="card-title" style="text-align: center;">{{ favorite.product.title|title }}</h2>
                    <a href="javascript:void(0)" onclick="toggleRemoveFavorite({{favorite.product.id}})"><i
                            style="color: red;" class="fa fa-times h2" type="button"></i></a>
                </div>
                <hr>
                <p class=" card-text" style="font-size: x-large;">Ürün Fiyatı: ${{ favorite.product.price }}</p>
                <a class="btn btn-outline-danger info_style" data-bs-toggle="modal"
                    data-bs-target="#exampleModal{{ favorite.product.id }}">Ürün
                    Detayı</a>
                {% if favorite.product.id in basket_product %}
                <a href="javascript:void(0);" id="basketButton{{favorite.product.id}}"
                    class="btn btn-outline-danger add_to_basket">Ürün
                    Sepette</a>
                {% else %}
                <a href="javascript:void(0);" onclick="toggleBasket({{favorite.product.id}})"
                    id="basketButton{{favorite.product.id}}" class="btn btn-outline-danger add_to_basket">Sepete
                    Eklendi</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal{{ favorite.product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ favorite.product.title|title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ favorite.product.content|safe }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>