.Card {
    width: 23.5%;
    height: 580px;
    float: left;
    margin-right: 1.5%;
    margin-bottom: -80px;
}
@media screen and (max-width: 920px) {
    .Card {
        width: 90%;
        clear: both;
        margin-bottom: 0.3px;
        margin-left: 20px;
        margin-right: 20px;
    }
}