{% extends 'base.html' %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'css/register_form.css' %}">
{% endblock %}

{% block body %}

<div class="container mt-5">
    <form action="{% url 'register' %}" method="post" name="register_form">
        {% csrf_token %}

        {% if error %}
            <div class="alert" role="alert" style="background: crimson; color: white; text-align: center; font-size: large; font-weight: bold;">{{error}}</div>
            <hr>
        {% endif %}

        <div class="row">

            <div class="col-6">
                {{ form.name.label_tag }}
                <input class="form-control" type="text" name="name" value="{{name}}" autocomplete="off" required>
            </div>

            <div class="col-6">
                {{ form.surname.label_tag }}
                <input class="form-control" type="text" name="surname" value="{{surname}}" autocomplete="off" required>
            </div>

            <div class="col-12 mt-4">
                {{ form.username.label_tag }}
                <input class="form-control" type="text" name="username" value="{{username}}" required>                
            </div>

            <div class="col-12 mt-4">
                {{ form.email.label_tag }}
                <input class="form-control" type="email" name="email" value="{{email}}" required>
            </div>

            <div class="col-12 mt-4">
                {{ form.address.label_tag }}
                <input class="form-control" type="text" name="address" value="{{adres}}" required>
            </div>

            <div class="col-12 mt-4">
                {{ form.phone_number.label_tag }}
                <input class="form-control" type="text" name="phone_number" value="{{phone_number}}" required>
            </div>

            <div class="col-6 mt-4">
                {{ form.password1.label_tag }}
                <input class="form-control" type="password" name="password1" required>
            </div>

            <div class="col-6 mt-4">
                {{ form.password2.label_tag }}
                <input class="form-control" type="password" name="password2" required>
            </div>

        </div>

        <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <button class="btn btn-outline-dark btn-lg" type="submit">Kayıt Ol</button>
        </div>
    </form>
</div>

{% endblock %}