<!DOCTYPE html>
{% load static %}
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devace-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!--<link rel="shortcut icon" type="image/x-icon" href="{% static 'image/shopp_logo.png' %}">-->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/icons.png' %}">

    {% block css_file %}{% endblock %}
    <title>SHOPPINGFLY</title>

</head>

<body style="background: #f8d9c5;">

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa-solid fa-times" id="cancel"></i>
    </label>

    <div class="nav">
        <label for="check">
            <i class="fa-solid fa-bars" id="btn"></i>
        </label>
        <a class="shopp" href="{% url 'homePage' %}">SHOPPINGFLY</a>

    </div>

    <div class="overlay"></div>
    <div class="sidebar">
        {% if user.is_superuser and user.is_authenticated %}
        <header>{{ request.user.username }}</header>
        <ul>
            <li><a href="{% url 'homePage' %}"><i class="fa-solid fa-house"></i>Anasayfa</a></li>
            <li><a href="{% url 'profile' %}"><i class="fa-solid fa-id-card-clip"></i>Profilim</a></li>
            <li><a href="{% url 'shoppingPage' %}"><i class="fa-solid fa-basket-shopping"></i>Sepetim</a></li>
            <li><a href="{% url 'my_favorite'  %}"><i class="fa-solid fa-star"></i>Favorilerim</a></li>
            <li><a href="{% url 'product_add' %}"><i class="fa-solid fa-plus"></i>Ürün ekle</a></li>
            <li><a href="{% url 'product_remove_page' %}"><i class="fa-solid fa-minus"></i></fa-solid>Ürün kaldır</a>
            </li>
            <li><a href="" data-bs-toggle="modal" data-bs-target="#logoutModal"><i
                        class="fa-solid fa-right-from-bracket"></i>Çıkış Yap</a></li>
        </ul>
        {% else %}
        {% if user.is_authenticated %}
        <header>{{ request.user.username }}</header>
        <ul>
            <li><a href="{% url 'homePage' %}"><i class="fa-solid fa-house"></i>Anasayfa</a></li>
            <li><a href="{% url 'profile' %}"><i class="fa-solid fa-id-card-clip"></i>Profilim</a></li>
            <li><a href="{% url 'shoppingPage' %}"><i class="fa-solid fa-basket-shopping"></i>Sepetim</a></li>
            <li><a href="{% url 'my_favorite'  %}"><i class="fa-solid fa-star"></i>Favorilerim</a></li>
            <li><a href="" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="fa-solid fa-right-from-bracket"></i>Çıkış Yap</a></li>
        </ul>
        {% else %}
        <header>MENU</header>
        <ul>
            <li><a href="{% url 'homePage' %}"><i class="fa-solid fa-house"></i>Anasayfa</a></li>
            <li><a href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i>Kayıt Ol</a></li>
            <li><a href="{% url 'login' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Giriş</a></li>
        </ul>
        {% endif %}
        {% endif %}
    </div>

    <div class="modal fade" id="logoutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="background: #343434;">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: white; font-size: large;">Hesap
                        çıkış</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Hesaptan çıkmak istediğinizden emin misiniz ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">hayır</button>
                    <a type="button" href="{% url 'logout' %}" class="btn btn-danger">evet</a>
                </div>
            </div>
        </div>
    </div>

    {% block body %}{% endblock %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block js_file %}{% endblock %}
</body>

</html>